<header>
  <nav class="navbar">
      <div class="logo">
          <a href="/">
              <img src="/images/logo1.png" alt="Keitai Logo">
          </a>
      </div>
      
      <div class="nav-icons">
          <input type="text" placeholder="Search">
          <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
          <a href="/profile"><i class="fas fa-user"></i></a>
      </div>
  </nav>
</header>
