<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>
  <div class="dialog-box">
    <div class="icon">🚫</div>
    <h1></h1>
    <p>404 PAGE NOT FOUND</p>
    <a href="/home">Return to Home</a>
  </div>
</body>

</html>
