<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Account Blocked</title>
  <link rel="stylesheet" href="/css/blocked.css">
</head>
<body>
  <div class="blocked-container">
    <h1>Account Blocked</h1>
    <p>Sorry, your account has been blocked by the admin.</p>
    <p>If you believe this is a mistake, please contact our support team.</p>
    <a href="/login" class="btn-home">Go Back to login</a>
  </div>
</body>
</html>
